.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 53%;
  margin: 2rem auto;
  background-color: transparent;
}
.title {
  font-family: "SpartanBold";
  color: var(--font-color-white);
}
.total-invoice {
  left: 100%;
}
.invoice-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  background-color: #7c5dfa;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 170px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: auto;
}
.circle {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #7c5dfa;
  text-align: center;
  line-height: 37px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 24px;
}

.invoice-actions:hover {
  background-color: #9277ff;
}
.invoice-filter {
  font-family: "spartanBold";
  color: var(--invoice-filter-color2);
  margin-left: 470px;
}
.filter-arrow {
  margin-left: 25px;
}

.dropdown-menu {
  position: absolute;
  width: 192px;
  height: 170px;
  right: 660px;
  top: 100px;
  background-color: var(--card-color2);
  color: var(--font-color-white);
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
}
.draft-section {
  position: absolute;
  width: 63px;
  height: 16px;
  left: 764px;
  top: 156px;
}
input[type="checkbox"] {
  display: none;
}
.filter-label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-family: "SpartanBold";
}
.filter-label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  bottom: 0%;
  background: #dfe3fa;
  border-radius: 4px;
}

label:hover:before {
  border: 1px solid #7c5dfa;
  transition: ease-in;
}
.dropdown-menu li {
  margin-top: 30px;
  margin-bottom: 23px;
}
.dropdown-menu li {
  list-style-type: none;
}
.empty-invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.empty-invoice-text {
  font-family: "SpartanBold";
  font-size: 25px;
  margin-top: 80px;
  color: var(--empty-invoice-text2);
}
.create-invoice-text {
  color: #888eb0;
  text-align: center;
  letter-spacing: -0.25px;
  color: var(--create-invoice-text2);
}
/* .total-invoice {
  margin-left: 460px;
  margin-top: 20px;
} */
