.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 53%;
  margin: 2rem auto;
  background-color: transparent;
}
.title {
  font-family: "SpartanBold";
  color: var(--font-color-white);
}
.total-invoices {
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
}
.invoice-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.7rem;
  background-color: #7c5dfa;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 170px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: auto;
}
.circle {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #7c5dfa;
  text-align: center;
  line-height: 37px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 24px;
}

.invoice-actions:hover {
  background-color: #9277ff;
}
.invoice-filter {
  font-family: "spartanBold";
  color: var(--invoice-filter-color2);
  margin-left: 470px;
}
.filter-arrow {
  margin-left: 25px;
}

.dropdown-menu {
  position: absolute;
  width: 192px;
  height: 170px;
  right: 660px;
  top: 100px;
  background-color: var(--card-color2);
  color: var(--font-color-white);
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
}
.draft-section {
  position: absolute;
  width: 63px;
  height: 16px;
  left: 764px;
  top: 156px;
}
input[type="checkbox"] {
  display: none;
}
.filter-label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-family: "SpartanBold";
}
.filter-label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  bottom: 0%;
  background: #dfe3fa;
  border-radius: 4px;
}

label:hover:before {
  border: 1px solid #7c5dfa;
  transition: ease-in;
}
.dropdown-menu li {
  margin-top: 30px;
  margin-bottom: 23px;
}
.dropdown-menu li {
  list-style-type: none;
}
.empty-invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.empty-invoice-text {
  font-family: "SpartanBold";
  font-size: 25px;
  margin-top: 80px;
  color: var(--empty-invoice-text2);
}
.create-invoice-text {
  color: #888eb0;
  text-align: center;
  letter-spacing: -0.25px;
  color: var(--create-invoice-text2);
}
.section-hero {
  color: var(--font-color-white);
  margin-top: 100px;
}

@media only screen and (max-width: 767px) {
  .main-container {
    flex-direction: row;
    width: 50%;
    margin: 2rem 1rem;
    margin-top: 80px;
    font-size: 12px;
  }

  .total-invoices {
    text-align: center;
    margin-bottom: 20px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .invoice-actions {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 300px;
    padding: 0.8rem;
    font-size: 0.8rem;
    width: 60px;
  }
  .invoice-span {
    display: none;
  }
  .circle {
    width: 60px;
    height: 20px;
    line-height: 30px;
    font-size: 16px;
    margin-right: 8px;
  }
  .filter-span {
    display: none;
  }
  .invoice-filter {
    position: absolute;
    font-size: 12px;
    margin-left: 220px;
    margin-top: 14px;
  }
  .filter-arrow {
    position: absolute;
    margin-left: 260px;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    right: auto;
    left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .draft-section {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .empty-invoice-text {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }
  .empty-invoice {
    position: absolute;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 193.07px;
    height: 160px;
    left: 91px;
    top: 250px;
  }
  .create-invoice-text {
    position: absolute;
    height: 31px;
    left: 3.69%;
    right: 3.69%;
    margin-top: 200px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
  }

  .item-container input {
    width: 65%;
  }
}
