.card-container .buttons-container {
  width: 730px;
  height: 100px;
  background: var(--card-color);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin: auto auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  gap: 20px;
}
.go-back {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* .goback-modal {
  display: flex;
  margin-top: 20px;
} */
.arrow-img {
  vertical-align: middle;
  margin-left: 575px;
  margin-top: 15px;
}

.go-back-text {
  font-family: "SpartanBold";
  display: inline;
  margin-left: 30px;
  margin-top: 30px;
  color: var(--go-back-text2);
  cursor: pointer;
}
.go-back-text:hover {
  color: var(--back-text-color);
}
.status-section {
  display: flex;
  gap: 10px;
  color: #858bb2;
}

.buttons-section {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: #f9fafe;
  color: #7e88c3;
  border-radius: 24px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-button:hover {
  background-color: #dfe3fa;
  transition: ease-in-out;
}
.btn-gray {
  background-color: #f9fafe;
  color: #7e88c3;
  width: 10%;
  padding: 10px 20px;
  border-radius: 49px;
  cursor: pointer;
  text-align: center;
  border: none;
  display: inline-block;
  margin-top: 40px;
}
.btn-red {
  background-color: #ec5757;
  color: white;
  width: 10%;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  margin-left: 120px;
  display: inline-block;
  margin-top: 40px;
}

.delete-button {
  background-color: #ec5757;
  color: white;
  border-radius: 40px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-button:hover {
  background-color: #ff9797;
  transition: ease-in-out;
}
.mark-paid-button {
  background-color: #7c5dfa;
  color: white;
  border-radius: 54px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mark-paid-button:hover {
  background-color: #9277ff;
  transition: ease-in-out;
}

.mark-paid-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.invoice-container {
  width: 40%;
  margin: 20px auto 0;
  background: var(--card-color);
  border-radius: 20 px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  padding-bottom: 35px;
}

.header-left {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 0px;
  padding-left: 40px;
  padding-top: 30px;
  letter-spacing: -0.8px;
  color: var(--font-color-white);
}
.invoice-category {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.invoice-detail {
  display: flex;
  justify-content: space-between;
}
.header-right {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-right: 40px;
  padding-top: 10px;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.sent-to-email {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.invoice-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-left: 40px;
  color: var(--font-color-white);
}
.payment-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-left: 3px;
  color: var(--font-color-white);
}
.payment-due {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.sent-to {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-right: 100px;
  color: var(--font-color-white);
}

.bill-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px;
}

.custom-bill-to {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
  text-align: start;
  margin: 0 auto;
  margin-left: 30px;
}
.bill-to-name {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.small-container {
  width: 90%;
  left: 6.58%;
  right: 6.58%;
  top: 40.55%;
  bottom: 20.29%;
  justify-content: center;
  background: var(--card-color2);
  border-radius: 8px 8px 0px 0px;
  margin: 0 auto;
}

.mini-container {
  background: var(--card-color3);
  border-radius: 0px 0px 8px 8px;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.item-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: light;
  color: var(--font-color-white);
}

.item-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.item-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: end;
  padding-left: 20px;
  color: var(--font-color-white);
}
.qty-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: end;
  color: var(--font-color-white);
}
.price-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: end;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.total-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  text-align: end;
  color: var(--font-color-white);
  padding-right: 20px;
}
.item-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
  padding-left: 20px;
}
.qty-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: end;
  color: var(--font-color-white);
}
.price-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.total-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
  padding-right: 20px;
}

.bill-to-address {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.229167px;
  text-align: start;
  color: var(--font-color-white);
}
.amount-due {
  margin-top: 15px;
}

.bill-to-city {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}

.bill-to-postal-code {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.bill-to-country {
  font-style: normal;
  font-weight: 500;
  font-size: 1px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.current-date {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.amount-section {
  top: calc(50% - 18px / 2);
  color: #ffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4%;
}

.total {
  text-align: center;
  font-family: "SpartanBold";
  font-size: 24px;
  font-style: bold;
  color: var(--font-color-white);
}
.status {
  color: var(--font-color-white);
}

.pending-buttton {
  background-color: #ff8f0020;
  color: #ff8f00;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  height: 25px;
  left: 100px;
  top: 10px;
  font-family: "SpartanBold";
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-id {
  font-family: "SpartanBold";
  color: var(--font-color-white);
}

.bill-from {
  color: var(--secondary-color);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.section-bill-from label {
  position: relative;
  top: 15px;
  color: #7e88c3;
  font-size: 12px;
}
.input-boxes {
  background: var(--input-box-color);
  border: 1px solid var(--input-box-border);
  border-radius: 4px;
  padding: 12px 14px;
  text-align: left;
  color: var(--font-color-light);
  color-scheme: var(--date-icon-color);
  width: 150px;
  height: 30px;
  margin: 4px;
  margin-right: 0px;
  margin-top: 30px;
}
.bill-row {
  display: flex;
  gap: 45px;
  width: 85%;
}
.bill-row label {
  position: relative;
  top: 15px;
  font-size: 12px;
  color: #7e88c3;
  transform: translateY(50%);
}
.bill-row input {
  width: 100%;
}
.fill {
  width: 85%;
}
.bill-to label {
  position: relative;
  top: 15px;
  font-size: 12px;
  color: #7e88c3;
}
.bill-to-text {
  color: var(--secondary-color);
}
.custom-invoice {
  display: flex;
  gap: 50px;
}
.custom-confirm-deletion {
  position: absolute;
  height: 32px;
  left: 10%;
  right: 45.42%;
  top: 35px;
  color: var(--font-color-white);
  font-family: "SpartanBold";
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.custom-btn-cancel {
  display: inline-block;
  background: var(--card-color2);
  font-family: "SpartanBold";
  color: #7e88c3;
  padding: 15px 30px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  position: absolute;
  top: 80%;
  right: 135px;
  transform: translateY(-50%);
}

.custom-btn-delete {
  display: inline-block;
  background: #ec5757;
  font-family: "SpartanBold";
  color: #fff;
  padding: 15px 30px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 80%;
  right: 20px;
  transform: translateY(-50%);
}

.custom-deletion-text {
  position: absolute;
  height: 44px;
  left: 10%;
  right: 10%;
  font-size: 12px;
  top: 80px;
  color: var(--font-color-white);
  line-height: 20px;
}
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.item-name,
.qty,
.price,
.total,
.delete {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-name {
  width: 40%;
}

.qty,
.price,
.total {
  width: 20%;
}

.delete {
  width: 5%;
}

.delete-icon {
  cursor: pointer;
}

.items-row:hover {
  background-color: #f5f5f5;
}
.table-container td {
  height: 70px;
  box-sizing: border-box;
  border: none;
  bottom: 0%;
  border-radius: 4px;
}
.table-container input {
  font-family: "SpartanBold";
  color: var(--font-color-white);
  background: var(--input-box-color);
  border-radius: 5px;
  font-size: 12px;
  width: 50%;
  height: 50px;
}
.delete-icon {
  margin-right: 80px;
}
.item-list-btn {
  height: 15px;
  left: 32.94%;
  right: 32.74%;
  top: calc(50% - 15px / 2 + 0.5px);
  cursor: pointer;
  font-family: "SpartanBold";
  font-size: 15px;
  line-height: 15px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #7e88c3;
}
.cancel-changes-btn {
  position: absolute;
  font-family: "SpartanBold";
  height: 50px;
  color: #7e88c3;
  margin-top: 20px;
  margin-left: 530px;
  width: 100px;
  border: none;
  background: var(--card-color);
  border-radius: 24px;
}
.save-changes-btn {
  font-family: "SpartanBold";
  color: #dfe3fa;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-left: 650px;
  border: none;
  background: #7c5dfa;
  border-radius: 24px;
  margin-bottom: auto auto;
}
@media only screen and (max-width: 767px) {
  .invoice-id {
    display: inline-block;
  }
  .invoice-category {
    position: absolute;
    margin-top: auto;
    font-size: 12px;
    top: 310px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--font-color-white);
  }
  .card-container .buttons-container {
    width: 85%;
    margin-left: 20px;
    margin-top: 60px;
    padding: 0 10px;
  }

  /* .arrow-img {
    width: 8.46px;
    height: 4.23px;
    right: 68.2px;
    top: calc(50% - 4.23px / 2 - 1.5px);
  } */

  .go-back {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .invoice-container {
    width: 90%;
    height: 10%;
    margin: 20px auto 0;
    padding-bottom: 20px;
  }

  .header-left {
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .header-right {
    padding-right: 20px;
    padding-top: 5px;
  }

  .sent-to-email {
    font-size: 14px;
  }

  .payment-date {
    font-size: 10px;
    padding-left: 10px;
    margin-top: 40px;
    line-height: 1px;
    margin-right: 0px;
  }
  .invoice-date {
    padding-left: 10px;
    line-height: 1px;
    margin-top: 35px;
  }

  .payment-due {
    font-size: 14px;
    /* margin-right: 20px; */
    margin-top: 20px;
  }

  .sent-to {
    padding-right: 20px;
    margin-left: 10px;
    line-height: 2px;
  }

  .bill-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .bill-to-name {
    text-align: start;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3125px;
    right: 120px;
  }

  .sent-to-email {
    height: 20px;
    left: 0%;
    right: 0%;
    top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3125px;
  }

  .custom-bill-to {
    margin-left: 40px;
    text-align: start;
    left: 50px;
    color: var(--font-color);
  }

  .small-container {
    width: 90%;
    left: 6.58%;
    right: 6.58%;
    top: 40.55%;
    bottom: 20.29%;
    justify-content: center;
    background: var(--card-color2);
    border-radius: 8px 8px 0px 0px;
    margin: 0 auto;
  }

  .mini-container {
    border-radius: 0px 0px 8px 8px;
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .item-header {
    padding: 10px;
    font-size: 12px;
  }

  .item-row {
    padding: 5px;
  }

  .item-one,
  .qty-one,
  .price-one,
  .total-one,
  .item-two,
  .qty-two,
  .price-two,
  .total-two {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.25px;
  }

  .total-one,
  .total-two {
    padding-right: 10px;
  }
  .amount-due {
    margin-top: 15px;
  }
  .amount-section {
    top: 80px;
    padding: 2%;
    margin-right: 25px;
  }

  .total {
    font-size: 20px;
    margin-right: 30px;
  }
  .mark-paid-button {
    position: absolute;
    margin-top: 2040px;
    padding: 10px 20px;
    text-align: center;
  }
  .edit-button {
    position: absolute;
    margin-top: 2040px;
    padding: 10px 20px;
    right: 320px;
  }
  .delete-button {
    position: relative;
    margin-top: 2040px;
    padding: 10px 20px;
    right: 270px;
  }
  .mark-paid-button {
    margin-top: 2000;
    right: 20px;
  }
  .status {
    margin-left: 5px;
  }
  .invoice-status {
    margin-left: 160px;
  }
  .custom-confirm-deletion {
    display: flex;
    font-size: 15px;
  }
  .btn-cancel {
    position: absolute;
    padding: 10px 20px;
    top: 70%;
    right: 100px;
  }

  .btn-delete {
    padding: 10px 20px;
    top: 70%;
    right: 10px;
  }
  /* .go-back-modal {
    display: flex;
  } */
  .go-back-textt {
    font-family: "SpartanBold";
    font-size: 20px;
  }
  .go-back {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .arrow-img {
    /* position: absolute;
    vertical-align: middle;
    right: 375px;
    top: 90px; */
    display: none;
  }
  .go-back-text {
    position: relative;
    display: inline;
    left: 10px;
    top: 50px;
    color: var(--go-back-text2);
    cursor: pointer;
  }
  .header-right {
    position: absolute;
    height: 75px;
    text-align: start;
    left: 0%;
    top: 330px;
    left: 40px;
    right: 200px;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: -0.229167px;
    color: var(--font-color-white);
  }

  .section-id {
    font-family: "SpartanBold";
    color: var(--font-color-white);
    margin-top: 100px;
  }
  .section-bill-from div {
    width: 350px;
  }
  .project-description {
    width: 350px;
  }
  .section-item div {
    width: 100px;
  }
  .table-container div {
    width: 100px;
  }
  .bill-to div {
    width: 350px;
  }
  .bill-row div {
    width: 70px;
  }
  .section-item div {
    width: 300px;
  }
  .table-container td {
    height: 20px;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 39.24%;
    bottom: 0%;

    background: #ffffff;
    border: 1px solid #dfe3fa;
    border-radius: 4px;
  }
  .item-list-btn {
    margin-right: 200px;
    margin-top: 20px;
  }
  .cancel-changes-btn {
    margin-right: 50px;
  }
}
