.card-container .buttons-container {
  width: 730px;
  height: 100px;
  background: var(--card-color);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin: auto auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  gap: 20px;
}
.go-back {
  display: flex;
  align-items: center;
}

.arrow-img {
  vertical-align: middle;
  margin-left: 575px;
  margin-top: 15px;
}

.go-back-text {
  font-family: "SpartanBold";
  display: inline;
  margin-left: 30px;
  margin-top: 30px;
  color: var(--go-back-text2);
}

.status-section {
  display: flex;
  gap: 10px;
}
.buttons-section {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: #f9fafe;
  color: #7e88c3;
  border-radius: 24px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gray {
  background-color: #f9fafe;
  color: #7e88c3;
  width: 10%;
  padding: 10px 20px;
  border-radius: 49px;
  cursor: pointer;
  text-align: center;
  border: none;
  display: inline-block;
  margin-top: 40px;
}
.btn-red {
  background-color: #ec5757;
  color: white;
  width: 10%;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  margin-left: 120px;
  display: inline-block;
  margin-top: 40px;
}

.delete-button {
  background-color: #ec5757;
  color: white;
  border-radius: 40px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark-paid-button {
  background-color: #7c5dfa;
  color: white;
  border-radius: 54px;
  padding: 15px 30px;
  font-family: "SpartanBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice-container {
  width: 40%;
  margin: 20px auto 0;
  background: var(--card-color);
  border-radius: 20 px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  padding-bottom: 35px;
}

.header-left {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
  padding-top: 30px;
  letter-spacing: -0.8px;
  color: var(--font-color-white);
}
.invoice-category {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.invoice-detail {
  display: flex;
  justify-content: space-between;
}
.header-right {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 18px; */
  padding-right: 40px;
  padding-top: 10px;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.sent-to-email {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.invoice-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-left: 40px;
  color: var(--font-color-white);
}
.payment-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-left: 3px;
  color: var(--font-color-white);
}
.payment-due {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.sent-to {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  padding-right: 100px;
  color: var(--font-color-white);
}

.bill-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px;
}

.bill-to {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
  text-align: start;
  margin: 0 auto;
}
.bill-to-name {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.small-container {
  width: 90%;
  left: 6.58%;
  right: 6.58%;
  top: 40.55%;
  bottom: 20.29%;
  justify-content: center;
  background: var(--card-color2);
  border-radius: 8px 8px 0px 0px;
  margin: 0 auto;
}

.mini-container {
  background: var(--card-color3);
  border-radius: 0px 0px 8px 8px;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.item-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: light;
  color: var(--font-color-white);
}

.item-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.item-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: end;
  padding-left: 20px;
  color: var(--font-color-white);
}
.qty-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: end;
  color: var(--font-color-white);
}
.price-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: end;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.total-one {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  text-align: end;
  color: var(--font-color-white);
  padding-right: 20px;
}
.item-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
  padding-left: 20px;
}
.qty-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.price-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
}
.total-two {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--font-color-white);
  padding-right: 20px;
}

.bill-to-address {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.229167px;
  text-align: start;
  color: var(--font-color-white);
}

.bill-to-city {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}

.bill-to-postal-code {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.bill-to-country {
  font-style: normal;
  font-weight: 500;
  font-size: 1px;
  line-height: 18px;
  text-align: start;
  letter-spacing: -0.229167px;
  color: var(--font-color-white);
}
.current-date {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--font-color-white);
}
.amount-section {
  top: calc(50% - 18px / 2);
  color: #ffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4%;
}

.total {
  text-align: center;
  font-family: "SpartanBold";
  font-size: 24px;
  font-style: bold;
  color: var(--font-color-white);
}
.status {
  color: var(--font-color-white);
}

.pending-buttton {
  background-color: #ff8f0020;
  color: #ff8f00;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  height: 25px;
  left: 100px;
  top: 10px;
  font-family: "SpartanBold";
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.delete-modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  width: 480px;
  height: 249px;
  max-width: 100%;
  text-align: center;
}
.modal-text {
  text-align: start;
  font-style: normal;
  font-weight: light;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #888eb0;
}
.confirmation {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
}

.delete-button.red {
  position: absolute;
  left: 58%;
  right: 10%;
  top: 55%;
  bottom: 19.28%;
  border: none;
  background-color: #ec5757;
  color: #ffffff;
}
