.invoice-button {
  background-color: #7c5dfa;
  color: white;
  border-radius: 100px;
  /* padding: 10px; */
  cursor: pointer;
  display: flex;
}

.invoice-button::before {
  content: "+";
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #7c5dfa;
  border-radius: 50%;
}

.invoice-button:hover {
  background-color: #5a43b9;
}
.filter-by-status {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1150px;
  top: 15px;
  cursor: pointer;
}

.filter-by-status span {
  margin-right: 10px;
}

.filter-by-status svg {
  width: 10px;
  height: 10px;
  fill: #7c5dfa;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.new-invoice {
  justify-content: center;
}
