.invoice-button {
  background-color: #7c5dfa;
  color: white;
  border-radius: 54px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  height: 48px;
  position: absolute;
  left: 1299px;
  top: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.invoice-button::before {
  content: "+";
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  color: #7c5dfa;
  border-radius: 50%;
}

.invoice-button:hover {
  background-color: #5a43b9;
}
.filter-by-status {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1150px;
  top: 15px;
  cursor: pointer;
}

.filter-by-status span {
  margin-right: 10px;
}

.filter-by-status svg {
  width: 10px;
  height: 10px;
  fill: #7c5dfa;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

/* .filter-by-status svg.open {
  transform: rotate(180deg);
} */
/* .status-filter {
  position: absolute;
  width: 118px;
  height: 15px;
  left: 777px;
  top: 94px;
} */
